{% extends 'navbar.html' %}statistics
{% load static %}
{% block content %}
<main id="bookAll">
    <section class="table">
        <div>
            <p class="title text-center mbotton20">Livros cadastrados</p>
            <span class="alert">* Para editar algum, basta clicar no nome do livro.</span>
            <table>
                <tr>
                    <th>Nome</th>
                    <th>Editora</th>
                    <th>Páginas</th>
                    <th>Início</th>
                    <th>Fim</th>
                    <th>Terminado?</th>
                    <th>Lista de Desejos</th>
                </tr>
                {% for d in data %}
                <tr>
                    <td><a class="black bold" href="{% url 'book:book-update' d.id %}">{{ d.title }}</a></td>
                    <td>{{ d.edition }}</td>
                    <td>{{ d.npages }}</td>
                    <td>{{ d.begin|date:"d/m/Y" }}</td>
                    <td>{{ d.finish|date:"d/m/Y" }}</td>
                    <td>{{ d.concluded }}</td>
                    <td>{{ d.wish }}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </section>
</main>
{% endblock %}