{% extends 'base.html' %}
{% load static %}
{% block content %}
<main id="gridPassword">
    <section>
        <p class="bold title mbotton20">Está com problemas para acessar sua conta?</p>
        <p class="mbotton20 bold">Estamos quase lá. Agora só falta colocar sua senha nova e estará pronto.</p>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form.new_password1 }}
            {{ form.new_password2 }}
            <div>
                <button type="submit">CONFIRMAR</button>
            </div>
        </form>
    </section>
</main>
{% endblock %}