{% extends 'base.html' %}
{% load static %}
{% block content %}

<main id="gridPassword">
    <section>
        <p class="bold title mbotton20">Está com problemas para acessar sua conta?</p>
        <p>Favor informe seu e-mail de cadastro.</p>
        <p class="mbotton20">Iremos te encaminhar o link com a recuperação de senha.</p>
        <form method="POST" autocomplete="off">
            {% csrf_token %}
            {{ form.email }}
            <div>
                <button type="submit">CONFIRMAR</button>
            </div>
        </form>
        <p class="bold mbotton20">- OR -</p>
        <a class="bold" href="#">Criar nova conta</a>
    </section>
</main>
{% endblock %}